*{
    font-family: 'Poppins', sans-serif;
  }
#tabla-usuarios.styled-table {
    width: 100%;
    border-collapse: collapse;
    }
    #tabla-usuarios.styled-table th,
    #tabla-usuarios.styled-table td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    }
    #tabla-usuarios.styled-table th {
    background-color: #5A062F;
    color: #fff;
    }
    #tabla-usuarios.styled-table td {
    background-color: #E4E9F7;
    color: #340424;
    }
    #tabla-usuarios.styled-table tr:nth-child(even) td {
    background-color: #F2F5FC;
    }
    #tabla-usuarios.styled-table tr:hover td {
    /* Eliminado el cambio de color al pasar el mouse */
    }