body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E4E9F7;
}

header {
    background-color: #11101d;
    color: white;
    padding: 1rem;
    text-align: center;
}

.content-table {
    position: fixed;
    top: 80px;
    right: 0;
    width: 220px;
    height: calc(100vh - 80px);
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-left: 1px solid #ccc;
    overflow-y: auto;
}

.content {
    margin-right: 240px;
    padding: 20px;
}

/* Additional standard styles... */
