<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../css/references.css" type="text/css">
  <title>Referencias</title>
</head>
<body>
    <header>
        <h1>Referencias<h1>
    </header>
  
  <ul>
    <li>
      [1] T. K. Sarkar, et al., "Electromagnetic Waves," in
      History of Wireless, Hoboken, NJ: John Wiley & Sons, Inc.,
      2006, pp. 1-13.
    </li>
    <li>
      [2] "Electromagnetic Spectrum," NASA Science,
      [Online]. Available: <a href="https://science.nasa.gov/ems">https://science.nasa.gov/ems</a>. [Accessed
      Mar. 8, 2023].
    </li>
    <li>
      [3] R. A. Nelson, "Radio-Frequency Spectrum," in
      Encyclopedia of Modern Optics, Oxford: Elsevier, 2005, pp.
      399-404.
    </li>
    <li>
      [4] J. W. Davis, J. R. James and R. F. James, "FM
      Transmitters and Receivers," in Radio Frequency Circuit
      Design, 2nd ed., Hoboken, NJ: John Wiley & Sons, Inc.,
      2018, pp. 177-202.
    </li>
    <li>
      [5] J. G. Proakis and M. Salehi, "Communication Systems
      Engineering", Pearson, 2008.
    </li>
    <li>
      [6] J. G. Proakis and M. Salehi, Fundamentals of
      Communication Systems. Pearson, 2005, pp. 281-283.
    </li>
    <li>
      [7] F. H. Raab, "FM Transmitter," U.S. Patent 2,529,104,
      Nov. 7, 1950.
    </li>
    <li>
      [8] F. M. Gardner, "A Biphase Modulation for FM Stereo
      Broadcasting," IEEE Transactions on Broadcasting, vol. 19,
      no. 3, pp. 119-125, Sep. 1973.
    </li>
    <li>
      [9] E. J. Baerwald, "FM Communication for Spacecraft,"
      IEEE Transactions on Aerospace and Electronic Systems,
      vol. 10, no. 3, pp. 344-349, May 1974.
    </li>
    <li>
      [10] J. Leick, GPS Satellite Surveying, 4th ed. Hoboken,
      NJ: Wiley, 2015.
    </li>
    <li>
      [11] M. Liu, X. Gao, and X. Zhang, "A Wireless ECG
      Monitoring System Based on ZigBee and FM Transmission,"
      in Proceedings of the 2015 IEEE International Conference on
      Cyber Technology in Automation, Control, and Intelligent
      Systems (CYBER), Shenyang, China, 2015, pp. 929-933.
    </li>
    <li>
      [12] A. S. Baliga, "Design of a Wireless Instrumentation
      and Control System for Industrial Automation," in
      Proceedings of the 2014 IEEE International Conference on
      Control Applications (CCA), Juan-les-Pins, France, 2014,
      pp. 1659-1664.
    </li>
    <li>
      [13] Berners-Lee, T., & Connolly, D. (1999). Hypertext
      markup language—2.0. W3C Recommendation, 24, 1999.
    </li>
    <li>
      [14] W3C. (2018). Cascading Style Sheets (CSS).
      Recuperado el 15 de marzo de 2023, de
      <a href="https://www.w3.org/Style/CSS/Overview.en.html">https://www.w3.org/Style/CSS/Overview.en.html</a>
    </li>
    <li>
      [15] Ecma International. (2021). ECMAScript® 2021
      Language Specification. Recuperado el 15 de marzo de 2023,
      de <a href="https://tc39.es/ecma262/">https://tc39.es/ecma262/</a>
    </li>
    <li>
      [16] PHP Group. (2022). PHP Manual. Recuperado el 15
      de marzo de 2023, de
      <a href="https://www.php.net/manual/en/index.php">https://www.php.net/manual/en/index.php</a>
    </li>
    <li>
      [17] Oracle Corporation. (2021). MySQL 8.0 Reference
      Manual. Recuperado el 15 de marzo de 2023, de
      <a href="https://dev.mysql.com/doc/refman/8.0/en/">https://dev.mysql.com/doc/refman/8.0/en/</a>
    </li>
    <li>
      [18] <a href="https://github.com/liandd/Colectivo">https://github.com/liandd/Colectivo</a>
    </li>
    <li>[19] A. Laverde, “[Vídeo]Normas para diseñar PCB y electrónica ¿Cual uso?”, Aldeltatec.com, 2016, <a href="https://www.aldeltatec.com/blog-diseno-con-normas-y-certificaciones/normas-pcb-y-electronica/">Enlace</a></li>
    <li>[20] A. Laverde, “Normas internacionales básicas para diseño de circuitos impresos PCB y productos electrónicos parte 1”, Aldeltatec.com, 2020, <a href="https://www.aldeltatec.com/wp-content/uploads/2020/01/Normas-internacionales-b%C3%A1sicas-para-dise%C3%B1o-de-circuitos-impresos-PCB-y-productos-electr%C3%B3nicos-parte1.pdf">Enlace</a></li>
    <li>[21] “Amplitud Modulada (A.M.)”, Unicrom.com, s.f., <a href="https://unicrom.com/amplitud-modulada-am/">Enlace</a></li>
    <li>[22] “Modulación (telecomunicación)”, Wikipedia.org, 2021, <a href="https://es.wikipedia.org/wiki/Modulaci%C3%B3n_%28telecomunicaci%C3%B3n%29">Enlace</a></li>
    <li>[23] “Transmisores de AM”, Catedras.facet.unt.edu.ar, 2017, <a href="https://catedras.facet.unt.edu.ar/ft/wp-content/uploads/sites/123/2017/03/05-Transmisores-de-AM.pdf">Enlace</a></li>
    <li>[24] “Amplificador electrónico”, Wikipedia.org, 2021, <a href="https://es.wikipedia.org/wiki/Amplificador_electr%C3%B3nico">Enlace</a></li>
    <li>[25] <a href="https://www.lifeder.com/inductancia/">https://www.lifeder.com/inductancia/</a></li>


  </ul>
  <footer>
    &copy; 2023 - Todos los derechos reservados
  </footer>
</body>
</html>
